container_commands:
  10_migrate:
    command: |      
      source $PYTHONPATH/activate
      pipenv run python ./manage.py migrate
  02_collectstatic:
    command: "python api/manage.py collectstatic"
  03_createsu:
    command: "python api/manage.py createsuperuser"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "api.settings"
    "PYTHONPATH": "/opt/python/current/app/api:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    WSGIPath: "api/api/wsgi.py"
    StaticFiles: "/static/=api/static/"