option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "api.settings"
    "PYTHONPATH": "/opt/python/current/app/MOBMARTAPI:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "api/wsgi.py"
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"