container_commands:
  01_migrate:
    command: "python MOBMARTAPI/api/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python MOBMARTAPI/api/manage.py collectstatic --noinput"
  03_createsu:
    command: "python MOBMARTAPI/api/manage.py createsu"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "MOBMARTAPI/api.settings"
    "PYTHONPATH": "/opt/python/current/app/MOBMARTAPI/api:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "MOBMARTAPI/api/MOBMARTAPI/api/wsgi.py"
    StaticFiles: "/static/=MOBMARTAPI/api/static/"